/* Estilos globais */
:root {
  /* Define as áreas seguras para dispositivos com notch */
  --safe-area-top: env(safe-area-inset-top, 20px);
  --safe-area-right: env(safe-area-inset-right, 20px);
  --safe-area-bottom: env(safe-area-inset-bottom, 20px);
  --safe-area-left: env(safe-area-inset-left, 20px);
}

/* Botão de Reset centralizado e respeitando áreas seguras */
.app-root .center-button {
  position: absolute;
  top: calc(50% + var(--safe-area-top) / 2);
  right: calc(10px + var(--safe-area-right));
  transform: translateY(-50%);
}

/* Indicador de tempo centralizado e respeitando áreas seguras */
.app-root .center-time-display {
  position: absolute;
  top: calc(50% + var(--safe-area-top) / 2);
  left: calc(10px + var(--safe-area-left));
  transform: translateY(-50%);
}

/* Ajuste para centralizar conteúdo em telas com notch */
.app-root .p-safe {
  padding-top: calc(40px + var(--safe-area-top));
  padding-right: var(--safe-area-right);
  padding-bottom: var(--safe-area-bottom);
  padding-left: var(--safe-area-left);
}

/* Ajuste para telas menores */
@media screen and (max-width: 768px) {
  .app-root .p-safe {
    padding-top: calc(40px + var(--safe-area-top));
    padding-right: var(--safe-area-right);
    padding-bottom: var(--safe-area-bottom);
    padding-left: var(--safe-area-left);
  }
  
  /* Ajustes para dispositivos móveis */
  .app-root .center-button,
  .app-root .center-time-display {
    top: calc(50% + var(--safe-area-top) / 2);
  }
}